
.c-1{ background-color: orange;
    position: relative 55px;
width: 55px;
height: 55px;
}
.c-2{background-color: yellow;
width: 55px;
height: 55px;
}
.c-3{ background-color: red;
width: 44px;
height: 22px;}
h1 {



}